@font-face{

}

body{
	background: #00769b;
	padding-top: 200px;
	padding-bottom: 200px;
	font-family: 'Roboto', sans-serif;
}
.inner_bg{
	background: #ffffff;
}
.row{
	position: relative;
}
.left{
	background: #ff4d6f;
	color: #ffffff;
	position: relative;
}
#slide_weather{
	width: 100%;
	height: 400px;
	overflow: hidden;
	position: relative;
}
.slide {
	position: relative;
}
.slide_content {
	overflow: hidden;
}
.slide_child {
  position: absolute;
}
.next, .prev {
	position: absolute;
	top: 40%;
	cursor: pointer;
}
.next {
	right: 5px;
}
.prev {
	left: 5px;
}
.slide_option ul li {
	cursor: pointer;
}
.slide_content{
	overflow: hidden;
}
.slide_option {
	position: absolute;
	bottom: 23px;
	right: 0;
	left: 0;
	margin: auto;
	text-align: center;
}
.slide_option ul {
	line-height: 12px;
}
.slide_option ul li{
	display: inline-block;
	width: auto;
	height: auto;	
	line-height: 11px;
	margin: 0 2px;	
}
.slide_option ul li i{
	display: block;
	font-size: 14px;
	color: rgba(255,255,255,0.5);
}
.slide_option ul li.option_active{	
	line-height: 12px;
}
.slide_option ul li.option_active i{
	color: rgba(255,255,255,1);
}
p.place{
	width: 100%;
	font-size: 18px;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 60px;
	margin: auto;
	line-height: 18px;
}
p.weather{
	width: 100%;
	font-size: 143px;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 146px;
	line-height: 143px;
}
i.celsius{
	font-size: 30px;
	color: #ffffff;
	position: absolute;
}
p.date_current{
	font-size: 18px;
	display: block;
	margin-top: 42px;
	margin-bottom: 144px;
}
p.date_current i{
	font-size: 32px;
	color: rgba(255,255,255,0.5);
	display: inline-block;
	margin-right: 10px;
}
#schedule table.table{
	margin-bottom: 80px;
	font-size: 16px;
}
#schedule table.table tr td{
	padding-left: 0px;
	border-top: 1px solid;
	border-color:rgba(255,255,255,0.2);
}
#schedule table.table tr:first-child td{
	border: none;
}
#schedule table.table tr td:first-child{
	color: rgba(255,255,255,0.5);
}
#calendar{
	margin-top: 50px;
}
#calendar table td{
	border: none;
}
#calendar .fc-row .fc-content-skeleton  table thead tr td{
	text-align: center;
	font-size: 16px;
	vertical-align: middle;	
	border-top: 1px solid #f8f8f8;
	line-height: 60px;
}
#calendar .fc-row .fc-day-header{
	border: none;
}
#calendar .fc-today {
    background: none;
    color: #ff4d6f;
}
#calendar .fc-scroller{
	overflow: visible;
}
#calendar .fc-left button{
	background: none;
	border: none;
	box-shadow: none;
	height: auto;
	white-space: normal;
	padding: 0;
}
#calendar .fc-left button span.fa{
	font-size: 30px;
	color: #d5d5dd;
	top: 0;
	margin: 0;
}
#calendar .fc-right{
	width: auto;
	height: 40px;
	background: #f2f2f2;
	padding: 5px;
	border-radius: 10px;
}
#calendar .fc-right button{
	background: none;
	border: none;
	box-shadow: none;
	height: auto;
	white-space: normal;	
	display: block;
	padding: 5px 8px;
}
#calendar .fc-toolbar .fc-state-active, .fc-toolbar .ui-state-active {
    z-index: 4;
    background: #fff;
    border-radius: 10px
}
#calendar .fc-day-header{
	text-transform: uppercase;
}
#calendar .fc-toolbar{
	margin-bottom: 80px;
}
a.add_calen{
	display: block;
	position: absolute;
	bottom: 52px;
	right: 56px;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 1px solid #d5d5dd;
	text-align:center;
}
a.add_calen i{
	font-size: 16px;	
	color: #d5d5dd;	
	line-height: 32px;
}